# Case Study 2 

### Analysing raw yield data collected using yield monitors at KBS - LTER. KBS LTER program studies ecological impact of intensive field crop farming and its environmental consequences. This research station is desinged to understand the effects of different agronomic managemnet practices to improve pest control, nitrogen intake and soil fertility.

## Data Type

The data set to be used include the following columns

<img src = 'column.png'>

## Questions for data set

### We will be analysing data from year 2002-2013. 

#### The folowing questions will be answered:

   #### 1. Is there any differenece between yield for same crop over the years?
   #### 2. To see if different field size for the same crop affects the yield for the crop?
   #### 3.

In [2]:
# Import the necessary libraries and commands

import numpy as np
import pandas as pd
import matplotlib as plt

%matplotlib inline

In [9]:
# Load the data using read_csv tool by pandas and print first 5 lines

yield_data = pd.read_csv('yield_data.csv')
yield_data.head()

,longitude,latitude,crop_flow_lb_s,datetime,duration,distance_in,swth_wdth_in,moisture,status,pass_num,serial_number,field,dataset,product,elevation_ft
0,-85.372824,42.408276,3.29,2013-07-24 19:20:04+00,1,56.0,180,6.6,0,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.5
1,-85.372838,42.408288,2.89,2013-07-24 19:20:03+00,1,47.0,180,6.6,0,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.5
2,-85.372847,42.408296,2.89,2013-07-24 19:20:02+00,1,38.0,180,6.6,0,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.5
3,-85.372855,42.408301,3.69,2013-07-24 19:20:01+00,1,18.0,180,6.6,0,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.5
4,-85.372855,42.408304,3.39,2013-07-24 19:20:00+00,1,39.0,180,6.6,0,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.5

### The first step before analysing the data is to remove all the non-required rows. In the status column, 0 indicates the header of the combine is up and 1 indicates the header of the combine is down. We are goping to remove all the rows with the header status of 0.

In [10]:
f = open("new_yield.txt","w+")
#new_db = pd.DataFrame(columns = ['longitude, latitude, crop_flow_lb_s, datetime, duration, distance_in, swth_wdth_in, moisture, status, pass_num, serial_number, field, dataset, product, elevation_ft, New_Date, Year_Col'])
for row in yield_data.itertuples():
    if row[9] == 1:
        f.write("%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s%s\n" % (row[1],',',row[2],',',row[3],',',row[4],',',row[5],',',row[6],',',row[7],',',row[8],',',row[9],',',row[10],',',row[11],',',row[12],',',row[13],',',row[14],',',row[15]))
        #new_db.append(pd.Series(['row'], index = new_db.columns), ignore_index=True)
    else:
        next
f.close()

In [13]:
new_db = pd.read_csv('new_yield.txt', sep=",", header=None)
new_db.columns = ['longitude', 'latitude', 'crop_flow_lb_s', 'datetime', 'duration', 'distance_in', 'swth_wdth_in', 'moisture', 'status', 'pass_num', 'serial_number', 'field', 'dataset', 'product', 'elevation_ft']
new_db

,longitude,latitude,crop_flow_lb_s,datetime,duration,distance_in,swth_wdth_in,moisture,status,pass_num,serial_number,field,dataset,product,elevation_ft
0,-85.372835,42.408260,2.490,2013-07-24 19:19:53+00,1,62.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50
1,-85.372835,42.408276,1.890,2013-07-24 19:19:52+00,1,75.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50
2,-85.372833,42.408293,3.390,2013-07-24 19:19:51+00,1,82.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50
3,-85.372833,42.408313,3.290,2013-07-24 19:19:50+00,1,89.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50
4,-85.372833,42.408332,3.290,2013-07-24 19:19:49+00,1,90.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.92
5,-85.372833,42.408354,4.390,2013-07-24 19:19:48+00,1,90.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.92
6,-85.372833,42.408376,3.390,2013-07-24 19:19:47+00,1,90.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.92
7,-85.372833,42.408396,3.890,2013-07-24 19:19:46+00,1,89.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.92
8,-85.372833,42.408418,3.390,2013-07-24 19:19:45+00,1,98.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.92
9,-85.372833,42.408440,3.390,2013-07-24 19:19:44+00,1,103.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.92
10,-85.372833,42.408465,2.990,2013-07-24 19:19:43+00,1,111.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.33
11,-85.372833,42.408490,2.990,2013-07-24 19:19:42+00,1,108.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.33
12,-85.372833,42.408515,2.990,2013-07-24 19:19:41+00,1,108.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.33
13,-85.372835,42.408540,3.090,2013-07-24 19:19:40+00,1,111.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.75
14,-85.372835,42.408568,2.790,2013-07-24 19:19:39+00,1,108.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.75
15,-85.372835,42.408593,2.790,2013-07-24 19:19:38+00,1,108.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),955.08
16,-85.372835,42.408618,3.190,2013-07-24 19:19:37+00,1,108.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),955.08
17,-85.372835,42.408643,3.490,2013-07-24 19:19:36+00,1,108.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),955.08
18,-85.372835,42.408668,3.490,2013-07-24 19:19:35+00,1,109.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),955.08
19,-85.372835,42.408693,3.390,2013-07-24 19:19:34+00,1,107.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),955.08
20,-85.372835,42.408718,3.390,2013-07-24 19:19:33+00,1,107.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),955.08
21,-85.372835,42.408746,3.290,2013-07-24 19:19:32+00,1,107.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),955.08
22,-85.372835,42.408771,3.090,2013-07-24 19:19:31+00,1,107.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),955.08
23,-85.372835,42.408796,3.990,2013-07-24 19:19:30+00,1,107.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),955.08
24,-85.372838,42.408821,3.990,2013-07-24 19:19:29+00,1,106.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.67
25,-85.372838,42.408846,3.890,2013-07-24 19:19:28+00,1,106.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.67
26,-85.372838,42.408871,3.390,2013-07-24 19:19:27+00,1,106.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.67
27,-85.372841,42.408896,3.590,2013-07-24 19:19:26+00,1,108.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.67
28,-85.372841,42.408921,3.490,2013-07-24 19:19:25+00,1,108.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.67
29,-85.372841,42.408946,3.490,2013-07-24 19:19:24+00,1,109.00,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),954.67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395093,-85.372513,42.412907,1.328,2002-10-28 14:59:08+00,1,29.06,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395094,-85.372505,42.412914,1.449,2002-10-28 14:59:07+00,1,30.24,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395095,-85.372505,42.412926,1.142,2002-10-28 14:59:06+00,1,31.41,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395096,-85.372505,42.412937,1.221,2002-10-28 14:59:05+00,1,30.63,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395097,-85.372505,42.412949,0.991,2002-10-28 14:59:04+00,1,28.66,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395098,-85.372505,42.412956,0.742,2002-10-28 14:59:03+00,1,30.24,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395099,-85.372505,42.412968,0.828,2002-10-28 14:59:02+00,1,31.41,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395100,-85.372505,42.412979,0.677,2002-10-28 14:59:01+00,1,29.06,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395101,-85.372505,42.412991,0.529,2002-10-28 14:59:00+00,1,28.66,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395102,-85.372505,42.412998,0.517,2002-10-28 14:58:59+00,1,29.45,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395103,-85.372505,42.413010,0.393,2002-10-28 14:58:58+00,1,31.02,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,957.68
395104,-85.372505,42.413021,0.280,2002-10-28 14:58:57+00,1,28.66,90,13.1,1,2,2000140130,T1-R1,L1:WEST (2000140130),Corn,957.68
395105,-85.372452,42.413006,0.703,2002-10-28 14:58:26+00,1,23.17,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.66
395106,-85.372452,42.412994,0.493,2002-10-28 14:58:25+00,1,24.35,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.33
395107,-85.372452,42.412987,0.757,2002-10-28 14:58:24+00,1,23.17,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395108,-85.372452,42.412979,0.591,2002-10-28 14:58:23+00,1,21.99,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,957.68
395109,-85.372452,42.412972,0.695,2002-10-28 14:58:22+00,1,21.99,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,957.35
395110,-85.372452,42.412964,0.680,2002-10-28 14:58:21+00,1,23.17,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,957.02
395111,-85.372452,42.412956,0.508,2002-10-28 14:58:20+00,1,21.99,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,957.35
395112,-85.372452,42.412949,0.777,2002-10-28 14:58:19+00,1,21.60,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,957.68
395113,-85.372452,42.412941,0.600,2002-10-28 14:58:18+00,1,23.56,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,957.68
395114,-85.372452,42.412933,0.588,2002-10-28 14:58:17+00,1,20.81,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.33
395115,-85.372452,42.412926,0.437,2002-10-28 14:58:16+00,1,22.38,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.66
395116,-85.372452,42.412918,0.597,2002-10-28 14:58:15+00,1,23.17,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.99
395117,-85.372452,42.412910,0.481,2002-10-28 14:58:14+00,1,25.52,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.99
395118,-85.372452,42.412903,0.286,2002-10-28 14:58:13+00,1,24.35,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.66
395119,-85.372452,42.412891,0.413,2002-10-28 14:58:12+00,1,22.38,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,958.01
395120,-85.372452,42.412876,0.357,2002-10-28 14:58:10+00,1,23.56,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,957.35
395121,-85.372452,42.412861,0.242,2002-10-28 14:58:08+00,1,22.38,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,956.69
395122,-85.372452,42.412853,0.236,2002-10-28 14:58:07+00,1,22.77,90,13.1,1,1,2000140130,T1-R1,L1:WEST (2000140130),Corn,956.69

In [14]:
import datetime

new_datetime = pd.to_datetime(new_db['datetime'])
new_db['New_Date'] = new_datetime
new_db.head()

,longitude,latitude,crop_flow_lb_s,datetime,duration,distance_in,swth_wdth_in,moisture,status,pass_num,serial_number,field,dataset,product,elevation_ft,New_Date
0,-85.372835,42.408260,2.49,2013-07-24 19:19:53+00,1,62.0,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50,2013-07-24 19:19:53
1,-85.372835,42.408276,1.89,2013-07-24 19:19:52+00,1,75.0,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50,2013-07-24 19:19:52
2,-85.372833,42.408293,3.39,2013-07-24 19:19:51+00,1,82.0,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50,2013-07-24 19:19:51
3,-85.372833,42.408313,3.29,2013-07-24 19:19:50+00,1,89.0,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50,2013-07-24 19:19:50
4,-85.372833,42.408332,3.29,2013-07-24 19:19:49+00,1,90.0,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.92,2013-07-24 19:19:49

In [15]:
year_col = new_db['New_Date'].dt.year
new_db['Year_Col'] = year_col
new_db.head()

,longitude,latitude,crop_flow_lb_s,datetime,duration,distance_in,swth_wdth_in,moisture,status,pass_num,serial_number,field,dataset,product,elevation_ft,New_Date,Year_Col
0,-85.372835,42.408260,2.49,2013-07-24 19:19:53+00,1,62.0,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50,2013-07-24 19:19:53,2013
1,-85.372835,42.408276,1.89,2013-07-24 19:19:52+00,1,75.0,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50,2013-07-24 19:19:52,2013
2,-85.372833,42.408293,3.39,2013-07-24 19:19:51+00,1,82.0,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50,2013-07-24 19:19:51,2013
3,-85.372833,42.408313,3.29,2013-07-24 19:19:50+00,1,89.0,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.50,2013-07-24 19:19:50,2013
4,-85.372833,42.408332,3.29,2013-07-24 19:19:49+00,1,90.0,180,6.6,1,141,5648,F1: Lysimeter,L1:,Wheat (Sft Rd Wtr),953.92,2013-07-24 19:19:49,2013

In [18]:
new_db.groupby(['Year_Col','product']).count()

                                                    longitude  latitude  \
Year_Col product
2002     Corn                                           65069     65069
2003     Soybeans (Northrup King NK 520)                30195     30195
2004     Corn (DeKalb DK-57-01)                          1462      1462
         Wheat (Sft Rd Wtr) (Pioneer 25R37)             33378     33378
2005     Corn                                           21578     21578
         Corn (Research - Unknown)                       6365      6365
2006     Corn (Pioneer 36W66)                             650       650
         Soybeans                                       17237     17237
         Soybeans (NK S20-F8)                            7232      7232
         Wheat (Sft Rd Wtr) (Unknown 2006 Pioneer)        955       955
2007     Soybeans (DKB-26-51 RR's)                        845       845
         Wheat (Sft Rd Wtr)                             16213     16213
         Wheat (Sft Rd Wtr) (Pioneer 25R37)              6393      6393
2008     Corn                                           18812     18812
         Corn (Pioneer 36W66)                            6659      6659
         Soybeans (Northrup King NK 520)                  764       764
2009     Soybeans                                       20451     20451
         Soybeans (Pioneer 92M70)                        6922      6922
2010     Wheat (Sft Rd Wtr)                             38365     38365
2011     Corn                                           38214     38214
2012     Soybeans                                       27818     27818
2013     Wheat (Sft Rd Wtr)                             29546     29546

                                                    crop_flow_lb_s  datetime  \
Year_Col product
2002     Corn                                                65069     65069
2003     Soybeans (Northrup King NK 520)                     30195     30195
2004     Corn (DeKalb DK-57-01)                               1462      1462
         Wheat (Sft Rd Wtr) (Pioneer 25R37)                  33378     33378
2005     Corn                                                21578     21578
         Corn (Research - Unknown)                            6365      6365
2006     Corn (Pioneer 36W66)                                  650       650
         Soybeans                                            17237     17237
         Soybeans (NK S20-F8)                                 7232      7232
         Wheat (Sft Rd Wtr) (Unknown 2006 Pioneer)             955       955
2007     Soybeans (DKB-26-51 RR's)                             845       845
         Wheat (Sft Rd Wtr)                                  16213     16213
         Wheat (Sft Rd Wtr) (Pioneer 25R37)                   6393      6393
2008     Corn                                                18812     18812
         Corn (Pioneer 36W66)                                 6659      6659
         Soybeans (Northrup King NK 520)                       764       764
2009     Soybeans                                            20451     20451
         Soybeans (Pioneer 92M70)                             6922      6922
2010     Wheat (Sft Rd Wtr)                                  38365     38365
2011     Corn                                                38214     38214
2012     Soybeans                                            27818     27818
2013     Wheat (Sft Rd Wtr)                                  29546     29546

                                                    duration  distance_in  \
Year_Col product
2002     Corn                                          65069        65069
2003     Soybeans (Northrup King NK 520)               30195        30195
2004     Corn (DeKalb DK-57-01)                         1462         1462
         Wheat (Sft Rd Wtr) (Pioneer 25R37)            33378        33378
2005     Corn                                          21578        21578
         Corn (Research - Unknown)                      6365         6365
2006     Corn (Pioneer 36W66)                            650          650
         Soybeans                                      17237        17237
         Soybeans (NK S20-F8)                           7232         7232
         Wheat (Sft Rd Wtr) (Unknown 2006 Pioneer)       955          955
2007     Soybeans (DKB-26-51 RR's)                       845          845
         Wheat (Sft Rd Wtr)                            16213        16213
         Wheat (Sft Rd Wtr) (Pioneer 25R37)             6393         6393
2008     Corn                                          18812        18812
         Corn (Pioneer 36W66)                           6659         6659
         Soybeans (Northrup King NK 520)                 764          764
2009     Soybeans                                      20451        20451
         Soybeans (Pioneer 92M70)                       6922         6922
2010     Wheat (Sft Rd Wtr)                            38365        38365
2011     Corn                                          38214        38214
2012     Soybeans                                      27818        27818
2013     Wheat (Sft Rd Wtr)                            29546        29546

                                                    swth_wdth_in  moisture  \
Year_Col product
2002     Corn                                              65069     65069
2003     Soybeans (Northrup King NK 520)                   30195     30195
2004     Corn (DeKalb DK-57-01)                             1462      1462
         Wheat (Sft Rd Wtr) (Pioneer 25R37)                33378     33378
2005     Corn                                              21578     21578
         Corn (Research - Unknown)                          6365      6365
2006     Corn (Pioneer 36W66)                                650       650
         Soybeans                                          17237     17237
         Soybeans (NK S20-F8)                               7232      7232
         Wheat (Sft Rd Wtr) (Unknown 2006 Pioneer)           955       955
2007     Soybeans (DKB-26-51 RR's)                           845       845
         Wheat (Sft Rd Wtr)                                16213     16213
         Wheat (Sft Rd Wtr) (Pioneer 25R37)                 6393      6393
2008     Corn                                              18812     18812
         Corn (Pioneer 36W66)                               6659      6659
         Soybeans (Northrup King NK 520)                     764       764
2009     Soybeans                                          20451     20451
         Soybeans (Pioneer 92M70)                           6922      6922
2010     Wheat (Sft Rd Wtr)                                38365     38365
2011     Corn                                              38214     38214
2012     Soybeans                                          27818     27818
2013     Wheat (Sft Rd Wtr)                                29546     29546

                                                    status  pass_num  \
Year_Col product
2002     Corn                                        65069     65069
2003     Soybeans (Northrup King NK 520)             30195     30195
2004     Corn (DeKalb DK-57-01)                       1462      1462
         Wheat (Sft Rd Wtr) (Pioneer 25R37)          33378     33378
2005     Corn                                        21578     21578
         Corn (Research - Unknown)                    6365      6365
2006     Corn (Pioneer 36W66)                          650       650
         Soybeans                                    17237     17237
         Soybeans (NK S20-F8)                         7232      7232
         Wheat (Sft Rd Wtr) (Unknown 2006 Pioneer)     955       955
2007     Soybeans (DKB-26-51 RR's)                     845       845
         Wheat (Sft Rd Wtr)                          16213     16213
         Wheat (Sft Rd Wtr) (Pioneer 25R37)           6393      6393
2008     Corn                                        18812     18812
         Corn (Pioneer 36W66)                         6659      6659
         Soybeans (Northrup King NK 520)               764       764
2009     Soybeans                                    20451     20451
         Soybeans (Pioneer 92M70)                     6922      6922
2010     Wheat (Sft Rd Wtr)                          38365     38365
2011     Corn                                        38214     38214
2012     Soybeans                                    27818     27818
2013     Wheat (Sft Rd Wtr)                          29546     29546

                                                    serial_number  field  \
Year_Col product
2002     Corn                                               65069  65069
2003     Soybeans (Northrup King NK 520)                    30195  30195
2004     Corn (DeKalb DK-57-01)                              1462   1462
         Wheat (Sft Rd Wtr) (Pioneer 25R37)                 33378  33378
2005     Corn                                               21578  21578
         Corn (Research - Unknown)                           6365   6365
2006     Corn (Pioneer 36W66)                                 650    650
         Soybeans                                           17237  17237
         Soybeans (NK S20-F8)                                7232   7232
         Wheat (Sft Rd Wtr) (Unknown 2006 Pioneer)            955    955
2007     Soybeans (DKB-26-51 RR's)                            845    845
         Wheat (Sft Rd Wtr)                                 16213  16213
         Wheat (Sft Rd Wtr) (Pioneer 25R37)                  6393   6393
2008     Corn                                               18812  18812
         Corn (Pioneer 36W66)                                6659   6659
         Soybeans (Northrup King NK 520)                      764    764
2009     Soybeans                                           20451  20451
         Soybeans (Pioneer 92M70)                            6922   6922
2010     Wheat (Sft Rd Wtr)                                 38365  38365
2011     Corn                                               38214  38214
2012     Soybeans                                           27818  27818
2013     Wheat (Sft Rd Wtr)                                 29546  29546

                                                    dataset  elevation_ft  \
Year_Col product
2002     Corn                                         65069         65069
2003     Soybeans (Northrup King NK 520)              30195         30195
2004     Corn (DeKalb DK-57-01)                        1462          1462
         Wheat (Sft Rd Wtr) (Pioneer 25R37)           33378         33378
2005     Corn                                         21578         21578
         Corn (Research - Unknown)                     6365          6365
2006     Corn (Pioneer 36W66)                           650           650
         Soybeans                                     17237         17237
         Soybeans (NK S20-F8)                          7232          7232
         Wheat (Sft Rd Wtr) (Unknown 2006 Pioneer)      955           955
2007     Soybeans (DKB-26-51 RR's)                      845           845
         Wheat (Sft Rd Wtr)                           16213         16213
         Wheat (Sft Rd Wtr) (Pioneer 25R37)            6393          6393
2008     Corn                                         18812         18812
         Corn (Pioneer 36W66)                          6659          6659
         Soybeans (Northrup King NK 520)                764           764
2009     Soybeans                                     20451         20451
         Soybeans (Pioneer 92M70)                      6922          6922
2010     Wheat (Sft Rd Wtr)                           38365         38365
2011     Corn                                         38214         38214
2012     Soybeans                                     27818         27818
2013     Wheat (Sft Rd Wtr)                           29546         29546

                                                    New_Date
Year_Col product
2002     Corn                                          65069
2003     Soybeans (Northrup King NK 520)               30195
2004     Corn (DeKalb DK-57-01)                         1462
         Wheat (Sft Rd Wtr) (Pioneer 25R37)            33378
2005     Corn                                          21578
         Corn (Research - Unknown)                      6365
2006     Corn (Pioneer 36W66)                            650
         Soybeans                                      17237
         Soybeans (NK S20-F8)                           7232
         Wheat (Sft Rd Wtr) (Unknown 2006 Pioneer)       955
2007     Soybeans (DKB-26-51 RR's)                       845
         Wheat (Sft Rd Wtr)                            16213
         Wheat (Sft Rd Wtr) (Pioneer 25R37)             6393
2008     Corn                                          18812
         Corn (Pioneer 36W66)                           6659
         Soybeans (Northrup King NK 520)                 764
2009     Soybeans                                      20451
         Soybeans (Pioneer 92M70)                       6922
2010     Wheat (Sft Rd Wtr)                            38365
2011     Corn                                          38214
2012     Soybeans                                      27818
2013     Wheat (Sft Rd Wtr)                            29546